<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

{% if entry is defined %}
	{% set title = 'AP Definitive Source' | t  ~ ' | ' ~ entry.title %}
	{% if entry.type == 'news' %}
		{# Post page #}
		{% set description = entry.teaser | truncate('chars', 150, '...', true) %}
	{% elseif entry.type == 'contributor' %}
		{# Contributor page  #}
		{% set description = 'News posts by' | t  ~ ' ' ~ entry.title %}
	{% else %}
		{# Plain page #}
	    {% set description = entry.body is defined ? entry.body | truncate('chars', 150, '...', true) : seo.defaultSeoDescription %}
	{% endif %}
{% else %}
   {% set title = seo.defaultSeoTitle %}
   {% set description = seo.defaultSeoDescription %}
{% endif %}

<title>{{ title }}</title>
<meta name="description" content="{{ description }}"/>
<meta property="og:åtitle" content="{{ title }}"/>
<meta property="og:description" content="{{ description }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ craft.request.url }}"/>
<meta name="twitter:widgets:csp" content="on">
<meta name="twitter:card" content="summary_large_image">
{% if entry.featureImage is defined and entry.featureImage.first %}
	{% set image = entry.featureImage.first %}
	<meta property="og:image" content="{{ image.url }}"/>
	<meta name="twitter:image" content="USM_ap-images-brochure_hires_1-10-18-1.png">
{% else %}
	<meta property="og:image" content="https://blog.ap.org/uploads/site/share-definitive-source.jpg"/>
	<meta name="twitter:image" content="https://blog.ap.org/uploads/site/share-definitive-source.jpg">
{% endif %}
	
	
<link rel="stylesheet" href="{{ assetUrl('css/bootstrap.css' | bust) }}">
<link rel="stylesheet" href="{{ assetUrl('css/all.css' | bust) }}">
<link rel="stylesheet" href="{{ assetUrl('css/js.css' | bust) }}">
<link rel="stylesheet" href="{{ assetUrl('css/shame.css' | bust) }}">


<!--favicon -->
<link rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/icon" />

{% include '_fields/gaCode' %}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>APDefinitiveSourceBlog</title>
	<link rel="stylesheet" href="/css/bootstrap.css?v=1">
	<link rel="stylesheet" href="/css/all.css?v=1">
	<link rel="stylesheet" href="/css/js.css?v=1">
	<link rel="stylesheet" href="/css/audioplayer.css">
</head>
<body class="inner">
	<p>this is here</p>
</body>
</html>

